.nav-header {
    width: 100%;
    height: 100vh;
    border : 1px solid rgba(179, 171, 171, 0.3);
    background-size: 100%
}

.title {
    font-weight: bold;
    height: 60px;
    padding: 8px;
    font-size: 40px;
    text-align: right;

}


.background-data {
    background-image: url('../img/background.jpg');
    height: 100vh;
    background-size: 100%;
    padding-top: 45vh;
    padding-left: 2%;
}
@media screen and (max-width: 1369px) {
    .data-table {
        background: rgb(232, 13, 13);
        font-size: 20px;
        border-radius: 10px;
        color: white;
        width: 650px;
        th {
            padding-top: 20px;
            padding-left: 20px;
        }
        td {
            padding-bottom: 20px;
            padding-left: 20px;
            width: 200px;
        }
        span {
            font-size: 15px;
        }
    }
  }
  @media screen and (min-width: 1370px) {
      .data-table {
          background: rgb(232, 13, 13);
          font-size: 25px;
          border-radius: 10px;
          color: white;
          width: 750px;
          th {
              padding-top: 20px;
              padding-left: 20px;
          }
          td {
              padding-bottom: 20px;
              padding-left: 20px;
              width: 200px;
          }
          span {
              font-size: 15px;
          }
      }
  }
 .data {
     h1 {
         font-weight: bold;
     }

 }

 .demo-wrap {
    overflow: hidden;
    position: relative;
    background-color: black;
  }
  
  .demo-bg {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .demo-content {
    position: relative;
    padding: 30px
  }


  .data-table-province {
    font-size: 15px;
    border-radius: 10px;
    width: 300px;
    border: 1px solid grey;
    padding: 10px;
    background-color: white;
}

.data-province:after {
    content: "";
    display: table;
    clear: both;
  }
.data-table-province{
    justify-content: center;
    float: left;
    width: 20%;
    padding: 10px;
    margin: 30px;
    height: 250px;
}
//  .province-data {
//      background-image: url("../img/background-indo.jpg");
//      height: 100vh;
//      background-size: 100%;
//      opacity: 0.3;
//      .province-data-2 {
//          opacity: 1 !important;
//      }
//  }
